# Add files here to ignore them from prettier formatting
build
/dist
/coverage
node_modules/
dist/
.serverless/
.eslintcache
# [Faros AI Word Cloud] - Exclude markdown documentation from auto-formatting:
faros-ai-services/documentation/*.md
