# TEST ENVIRONMENT
NODE_ENV=development
IS_OFFLINE=true

#  PROD ENVIRONMENT
# NODE_ENV=production
# IS_OFFLINE=false

# AWS CONFIG
#Test
AWS_ACCOUNT_ID=XXXXX
AWS_ACCESS_KEY=XXXXX
AWS_SECRET_ACCESS_KEY=XXXXX
AWS_REGION=us-east-2

# PPI API
ACCOUNT_NUMBER_PPI=XXXXX
AUTHORIZED_CLIENT_PPI=XXXXX
API_VERSION_PPI=1.0

# Test
BASE_URL_PPI_TEST=https://clientapi_sandbox.portfoliopersonal.com/api
CLIENT_KEY_PPI_TEST=XXXXX
API_KEY_PPI_TEST="XXXXX"
API_SECRET_PPI_TEST=XXXXX

# Prod
BASE_URL_PPI_PROD=https://clientapi.portfoliopersonal.com/api
CLIENT_KEY_PPI_PROD=XXXXX
API_KEY_PPI_PROD="XXXXX"
API_SECRET_PPI_PROD=XXXXX

# JWT
JWT_SECRET=XXXXX
USER_EMAIL=XXXXX
USER_PASSWORD=XXXXX

# ENCRYPTION KEY
ENCRYPTION_KEY=XXXXX
ENCRYPTION_ALGORITHMY=XXXXX
ENCRYPTION_RANDOM_BYTESY=XXXXX
